body{
	margin: 0;
}

header{
	position: fixed;
    width: 100%;
}

.container{
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 10em;
	text-align: justify;

}

article{
 margin-left: 5em;
}

aside{
margin-right: 2em;
padding: 0.5em 13em;
}

.promo{
	background-color: 	#32CD32;
	padding: 0.7em;
	border: 0.2em solid #6B8E23;
}

.menutop{
	padding: 10em 0em;
	background-image: url(../imagens/header.jpeg);
	width: 100%;
	height: 100%;
}

hr{
	margin: 0;
	border: 0.2em solid #6B8E23;
	}

footer{
	background-color: #6B8E23;
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	border-top: 0.2em solid black;
}
P{
	font-size: 1.7em;
}
h1{
	font-size: 3em;
	text-align: center;
}

h2{
	font-size: 2em;
	text-align: center;
}
h3{
	font-size: 1.1em;
}
h4{
	text-align: center;
}
h5{
	text-align: center;
}
.form{
	margin: 1em 30em;
	background-color: #DCDCDC;
	border: 0.3em solid black;
}







/*menu nav*/

.menuD{
	display: flex;
	justify-content: right;
}

.menu ul{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-between;
	background-color: #6B8E23;
	margin-bottom: 0px;
	margin-top: 0;
}

.menu li a{
	display: block;
	padding: 1em;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
}

.menu li a:hover{
	border-radius: 1em;
	background-color: whitesmoke;
}
/* SUB MENU */
.menu ul li ul{
	display: none;
    position: absolute;
    list-style: none;
	background-color: #6B8E23;
}
.menu ul li:hover ul{
	display: block;
}

.menu ul li ul li a{
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
}
.menu ul li ul li:hover a{
	border-radius: 1em;
	background-color: whitesmoke;
}







@media(max-width: 450px){

.menutop{
	background-image: url(../imagens/header.jpeg);
	background-size: 80em;
	width: 100%;
	height: 33%;
}
article{
 margin-left: 1em;
}
.container{
	background-color: whitesmoke;
	display: flex;
	padding: 0em;
}
aside{
margin-right: 0em;
padding: 1em 0em;
}

.promo{
	background-color: 	#32CD32;
	padding: 0.7em;
	border: 0.2em solid #6B8E23;
}

header{
	position: fixed;
    margin-top: 0em;

}
footer{
	background-color: #6B8E23;
	flex-direction: column;
	grid-gap: 15px;
	width: 100%;
	border-top:2px solid darkgreen ;
	text-align: center;
}
.form{
	margin: 1em 1em;
	background-color: #DCDCDC;
	border: 0.3em solid black;
}

}